extends ../base
block title
	| Blog page
block main
	// Секция betatransfer основная
	section.betatransfer
		.container
			.all-title
				h1 СКОЛЬКО МОЖНО ЗАРАБОТАТЬ В ИНТЕРНЕТЕ НА ОБМЕНЕ ЭЛЕКТРОННЫХ ВАЛЮТ?
				.all-title__bread-crumbs
					ul
						li <<
							a(href="#")  Главная
						li <<
							a(href="#")  Новости
			.row
				.col-12.col-xl-9
					main.main
						.news-page
							.news-item__date-heading
								.news-item__date
									i.fa.fa-clock-o
									time 13.10.2017
								.news-item__heading
									i.fa.fa-bookmark
									p Рубрика:
										span  Без рубрики
							.news-inner-txt
								p
									| Электронная валюта сегодня приобретает просто сумасшедшую популярность. Все больше
									| предпринимателей и частных лиц переходит на интернет-заработок, понимая его выгоды и удобство.
									| Возникающая проблема использования разных валют и необходимости их обмена рождают спрос на
									| такой вид деятельности.
								p
									| А там где спрос, там и предложение, точнее огромное их количество. Опытные в финансовых делах
									| люди сразу просекают ситуацию и пытаются внедриться в прибыльный бизнес.
								p
									| Сколько можно заработать в интернете на
									a(href="#")  обмене электронных валют
									|  ? Смотря какой способ
									|  заработка выбрать. Можно выделить три основных:
								ul
									li
										i.fa.fa-caret-right
										| создание своего электронного обменника;
									li
										i.fa.fa-caret-right
										| заработок на разнице курсов валют;
									li
										i.fa.fa-caret-right
										| партнерские программы в обменниках.
								h3 СОБСТВЕННЫЙ ОБМЕННИК
								img(src=require("../../img/.news-inner-txt__img.jpg") class="img-fluid")
								p
									| Это самый сложный вариант, но и самый доходный. Первоначально в такое дело придется вложить
									| около 4000 долларов: создание сайта и поддержка, работа программиста, ПО, реклама. Но если удастся
									| завоевать хорошую репутацию, то сервис быстро раскрутится. Выгодный курс, хорошая скорость работы
									| и надежность обменника привлекут тысячи пользователей, которые по “сарафанному радио” будут
									| разносить добрую весть, что появился качественный ресурс.
								p
									| Кроме процентов за услуги, вашим доходом смогут стать партнерские программы. За каждый клик
									| на рекламные баннеры, вы будете получать деньги.
								p
									| Если вы решили создать собственный обменник, то должны знать о высокой конкуренции в данном
									| секторе. Однако тем, кто серьезно подходит к вопросу, не о чем беспокоиться. Хорошего работника
									| видно издалека и на него всегда спрос.
								h3 ЗАРАБОТОК НА РАЗНИЦЕ КУРСОВ
								p
									| Тут получить хороший доход удастся только при постоянном осуществлении обменных операций в
									| большом объеме. Сперва нужно изучить предложения существующих обменников в разных странах.
									| Смысл в том, чтобы купить подешевле и продать подороже. Разницу кладете себе в карман. Не
									| забывайте о комиссиях при обмене валюте. Должен быть хороший процент разницы, чтобы ощутить
									| прибыльность дела.
								p
									| С первого раза может показаться, что доход незначительный, а вы умножьте сумму на 10, 20. А если
									| проделывать такие операции ежедневно? То-то же! Выгода будет ощутимой. Главное — найти
									| обменники с большой разницей.
								h3 ЗАРАБОТОК НА ПАРТНЕРКАХ
								p
									| Это простой способ получить дополнительный доход для владельцев сайтов по обмену валюты. За
									| каждый переход по ссылке и операцию по обмену вы получаете деньги. За клик около 4 центов, за
									| обмен плюс еще столько же. Неплохо, правда? Так что для предприимчивых людей есть стимул создать
									| свой обменник и зарабатывать разными способами.
				.col-12.col-xl-3
					aside.aside.all-page
						.aside-authorization.authorization
							.give-and-receive__title.aside-title
								span Авторизация
							.aside-authorization__form
								form
									.aside-authorization__input
										label(for="aside-login-email")
											| Логин или e-mail
											span  *
											| :
										.input_wrap
											i.fa.fa-check
											input(id="aside-login-email" name="email" type="text")
									.aside-authorization__input
										label(for="aside-authorization-password")
											| Пароль
											span  *
											| :
										.input_wrap
											i.fa.fa-check
											input(id="aside-authorization-password" name="name" type="password")
									.aside-authorization__links
										.aside-authorization__link
											i.fa.fa-lock
											a(href="#") Регистрация
										.aside-authorization__link
											i.fa.fa-unlock-alt
											a(href="#") Забыли пароль?
									.aside-authorization__button
										button(class="main_btn" type="submit") Войти
						.currency-reserves
							.give-and-receive__title.aside-title
								span Резервы валюты
							.swiper-container.currency-reserves__slider
								.swiper-wrapper
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-WebMoney.png"))
											.currency-reserves__slider-item-txt
												p Webmoney USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-qiwi-rub.png"))
											.currency-reserves__slider-item-txt
												p QIWI RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-sber.png"))
											.currency-reserves__slider-item-txt
												p Сбербанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-alfa.png"))
											.currency-reserves__slider-item-txt
												p АльфаБанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-tinkof.png"))
											.currency-reserves__slider-item-txt
												p ТинькоффБанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-BTB.png"))
											.currency-reserves__slider-item-txt
												p ВТБ24 RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-visa.png"))
											.currency-reserves__slider-item-txt
												p Visa/MasterCard RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-yandex.png"))
											.currency-reserves__slider-item-txt
												p Яндекс.Деньги RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-advCash.png"))
											.currency-reserves__slider-item-txt
												p AdvCash USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-bitcoin.png"))
											.currency-reserves__slider-item-txt
												p Bitcoin BTC
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-perfectmoney.png"))
											.currency-reserves__slider-item-txt
												p Perfect Money USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-Ethereum.png"))
											.currency-reserves__slider-item-txt
												p Ethereum ETH
												p 101.7
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-privat.png"))
											.currency-reserves__slider-item-txt
												p Приват24 UAH
												p 101.7
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
							.currency-reserves__slider-navigation
								p Посмотреть ещё
								.swiper-button-next
									i.fa.fa-long-arrow-down
								.swiper-button-prev
									i.fa.fa-long-arrow-up
