doctype html
html(class="no-js" lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title
			block title
		link(rel="shortcut icon" href=require("../../img/favicon.png") type="image/x-icon")
		include ../libs/bootstrap.min.html
		style(type='text/css').
			html .loader {
				background: #fff;
				bottom: 0;
				height: 100%;
				left: 0;
				position: fixed;
				right: 0;
				top: 0;
				width: 100%;
				z-index: 9999
			}
			html .loader .loader_inner {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				background-color: #fff;
				height: 200px;
				width: 200px;
				margin-top: -100px;
				margin-left: -100px;
				left: 50%;
				top: 50%;
				position: absolute
			}
	// Весь внутренний контент страницы
	// второй класс у body это анимация на модалке (animated-transition-effects гуглануть или спросить меня, убрав класс вернётся обычная анимация модалки, без изысков)
	body
		div
			.loader
				.loader_inner
					include ../img/preloader.svg
		block modal
			include modal
		// Элемент cd-transition-layer это тоже для прикольной анимации модалки
		.cd-transition-layer
			.bg-layer
		nav(canvas="" class="")
			.mnu_btn
				label(id="nav-button-label")
					#nav-lines
						i.nav-line
						i.nav-line
						i.nav-line
						i.nav-line

		div(canvas='container')
			block header
				header(class="header" id="header")
					.container
						.header__top
							.header__top-description
								span BETATRANSFER.NET
								| – БЫСТРЫЙ И ЛЕГКИЙ ОБМЕН ЭЛЕКТРОННЫХ И КРИПТОВАЛЮТ
							.header__top-authorization
								.header__top-authorization-item
									i.fa.fa-lock
									a(href="#") Регистрация
								.header__top-authorization-item
									i.fa.fa-user
									a(href="#") Авторизация
							.select
								.slct_arrow
									i.fa.fa-angle-down
								a(href="#" class="slct") RU
								ul.drop
									li EN
									li UA
									li RU
						.row
							.header__logo.col-lg-3
								a(href="/" class="logo" title="Логотип")
									img(src=require("../../img/logo.png"))
							nav.header__nav
								ul
									-var links = [{title:'Правила обмена', href:'#'},{title:'Партнерам', href:'#'},{title:'Информация', href:'#'},{title:'Контакты', href:'#'}];
									each i in links
										li
											a(href=i.href)= i.title
			// В блок main пишем весь контент (по умолчанию всё, что мы положим в block main в index.pug будет затираться - смотрим доки по pug, этот комментарий на продакшен стереть )
			block main
			block footer
				// Секция footer
				footer.footer
					.container
						.footer__footer-top
							.row
								.col-xl-2.col-lg-4
									nav.footer__nav
										ul.menu
											-var obj1 = [{title:'Предупреждение', href:'#'},{title:'Правила сайта', href:'#'},{title:'Контакты', href:'#'},{title:'Карта сайта', href:'#'}];
											each i in obj1
												li
													i.fa.fa-angle-double-right
													a(href=i.href)= i.title
								.col-xl-3.col-lg-4
									.footer__schedule
										p
											i.fa.fa-clock-o
											| График работы:
										ul
											li
												| Пн. — Пт.
												span  с 9:00 до 02:00 по мск.
											li
												| Сб. — Вск.
												span  свободный график.
								.col-xl-3.col-lg-4
									.footer__contacts
										p
											i.fa.fa-address-book
											| Контакты:
										ul
											li
												| e-mail:
												a(href="mailto:betatransfer@yandex.ru")  betatransfer@yandex.ru
											li
												| skype:
												a(href="skype:betatransfer?call")  betatransfer
											li
												| jabber:
												a(href="mailto:betatransfer@xmpp.jp")  betatransfer@xmpp.jp

								.col-12.col-lg-4.col-xl-4
									.footer__social
										p Мы в социальных сетях:
										.footer__social-items
											a(href="#" class="footer__social-item vk")
												i.fa.fa-vk
											a(href="#" class="footer__social-item fb")
												i.fa.fa-facebook
											a(href="#" class="footer__social-item g-plus")
												i.fa.fa-google-plus
											a(href="#" class="footer__social-item tw")
												i.fa.fa-twitter
										p Поделиться в социальных сетях:
										.footer__social-will-share
											script(type="text/javascript").
												(function() {
												if (window.pluso)if (typeof window.pluso.start == "function") return;
												if (window.ifpluso == undefined) { window.ifpluso = 1;
													var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
													s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
													s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
													var h=d[g]('body')[0];
													h.appendChild(s);
												}})();
											.pluso( data-background="transparent" data-options="big,round,line,horizontal,counter,theme=04" data-services="facebook,twitter,odnoklassniki,tumblr")
						.footer__footer-bottom
							.footer__copyright
								p 2017 Betatransfer.net - Сервис обмена электронных валют
								p
									| Дизайн сайта:
									a(href="#")  a-bozhenko.ru

						.footer__btn-up
							a(href="#header")
								i.fa.fa-chevron-circle-up
		div(off-canvas='id-1 left shift')
			nav.header_nav_mobile
				ul.menu
					-var obj1 = [{title:'Правила обмена', href:'#'},{title:'Партнерам', href:'#'},{title:'Информация', href:'#'},{title:'Контакты', href:'#'}];
					each i in obj1
						li
							a(href=i.href)= i.title
		div(off-canvas='id-2 right push')
		div(off-canvas='id-3 top overlay')
		div(off-canvas='id-4 bottom shift')
		//[if IE 9]>
			<script src="libs/html5shiv/es5-shim.min.js"></script>
			<script src="libs/html5shiv/html5shiv.min.js"></script>
			<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>`
			<script src="libs/respond/respond.min.js"></script>


