extends ../base
block title
	| registration page
block main
	// Секция betatransfer основная
	section.betatransfer
		.container
			.all-title
				h1 ВЫГОДНЫЙ КУРС И ОПЕРАТИВНЫЙ ОБМЕН БИТКОИНОВ НА КИВИ РУБЛИ
				.all-title__bread-crumbs
					ul
						li <<
							a(href="#")  Главная
			.row
				.col-12.col-xl-9
					main.main
						.exchange-BTC-QIWIRUB__attention
							.title-h2
								h2 ВНИМАНИЕ!
								.title-h2__divider
									.title-h2__divider-inner
							p.attention-title
								| Данная операция производится оператором в ручном режиме и занимает от 5 до 30 минут в
								| рабочеевремя (см. статус оператора).
							p
								| Заявка действительна в течении 20 минут. Если оплата не приходит в указанное время, заявка будет
								| отменена. В случае оплаты после истечения 20 минут, сервис оставляет за собой право завершить заявку
								| по новому курсу, либо вернуть средства отправителю за вычетом комиссий платежной системы.
							.exchange-BTC-QIWIRUB__divider
								| — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —
							p.attention-title.no-indent
								| При обмене на кошельки не русских операторов связи, взымается дополнительная комиссия 1%.
						form
							.exchange-BTC-QIWIRUB__you.give
								.registration__title
									span ОТДАЕТЕ
							.exchange-BTC-QIWIRUB__you-wrap
								.exchange-BTC-QIWIRUB__select-sum.after-registration-bid
									.exchange-BTC-QIWIRUB__txt
										p
											span.title Сумма:
											span  70 Perfect Money USD
										p
											span.title Со счета:
											span  U7373732
									.exchange-BTC-QIWIRUB__Bitcoin-currency
										img(src=require("../../img/betatransfer-bitcoin.png"))
										span Bitcoin BTC
							.exchange-BTC-QIWIRUB__you.are-getting
								.registration__title
									span ПОЛУЧАЕТЕ
							.exchange-BTC-QIWIRUB__you-wrap
								.exchange-BTC-QIWIRUB__select-sum.after-registration-bid
									.exchange-BTC-QIWIRUB__txt
										p
											span.title Сумма:
											span
												|
												| 9900 QIWI RUB
										p
											span.title Ваш QIWI кошелек:
											span.QIWI
												|
												| +380995555555
									.exchange-BTC-QIWIRUB__Bitcoin-currency
										img(src=require("../../img/betatransfer-bitcoin.png"))
										span Bitcoin BTC
							.exchange-BTC-QIWIRUB__you.are-getting
								.registration__title
									span ЛИЧНЫЕ ДАННЫЕ
							.exchange-BTC-QIWIRUB__you-wrap
								.after-registration-bid__email-info
									span.title E-mail:
									span  email.adress@gmail.com
								.registration__with-the-rules-acquainted
									label.check.noselect
										input(type='checkbox')
										i.fa.fa-1.fa-square-o
										i.fa.fa-2.fa-check-square
										span
									span.service-rules
										|  С
										|
										a(href="#") правилами сервиса
										|  ознакомлен и согласен
								.after-registration-bid__attention
									i.fa.fa-info-circle
									span.title ВНИМАНИЕ
									p Нажатие кнопки “Создать заявку” означает, что вы принимаете все основные Пользовательского соглашения.
									p.danger
										| * Внимательно проверьте правильность платежных данных перед созданием заявки!
								button(class="main_btn" type="button") Создать заявку
				.col-12.col-xl-3
					aside.aside.all-page
						.aside-authorization
							.give-and-receive__title.aside-title
								span Авторизация
							.aside-authorization__form
								form
									.aside-authorization__input
										label(for="aside-login-email")
											| Логин или e-mail
											span  *
											| :
										.input_wrap
											i.fa.fa-check
											input(id="aside-login-email" name="email" type="text")
									.aside-authorization__input
										label(for="aside-authorization-password")
											| Пароль
											span  *
											| :
										.input_wrap
											i.fa.fa-check
											input(id="aside-authorization-password" name="name" type="password")
									.aside-authorization__links
										.aside-authorization__link
											i.fa.fa-lock
											a(href="#") Регистрация
										.aside-authorization__link
											i.fa.fa-unlock-alt
											a(href="#") Забыли пароль?
									.aside-authorization__button
										button(class="main_btn" type="submit") Войти
						.currency-reserves.all-page
							.give-and-receive__title.aside-title
								span Резервы валюты
							.swiper-container.currency-reserves__slider
								.swiper-wrapper
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-WebMoney.png"))
											.currency-reserves__slider-item-txt
												p Webmoney USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-qiwi-rub.png"))
											.currency-reserves__slider-item-txt
												p QIWI RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-sber.png"))
											.currency-reserves__slider-item-txt
												p Сбербанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-alfa.png"))
											.currency-reserves__slider-item-txt
												p АльфаБанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-tinkof.png"))
											.currency-reserves__slider-item-txt
												p ТинькоффБанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-BTB.png"))
											.currency-reserves__slider-item-txt
												p ВТБ24 RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-visa.png"))
											.currency-reserves__slider-item-txt
												p Visa/MasterCard RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-yandex.png"))
											.currency-reserves__slider-item-txt
												p Яндекс.Деньги RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-advCash.png"))
											.currency-reserves__slider-item-txt
												p AdvCash USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-bitcoin.png"))
											.currency-reserves__slider-item-txt
												p Bitcoin BTC
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-perfectmoney.png"))
											.currency-reserves__slider-item-txt
												p Perfect Money USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-Ethereum.png"))
											.currency-reserves__slider-item-txt
												p Ethereum ETH
												p 101.7
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-privat.png"))
											.currency-reserves__slider-item-txt
												p Приват24 UAH
												p 101.7
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
							.currency-reserves__slider-navigation
								p Посмотреть ещё
								.swiper-button-next
									i.fa.fa-long-arrow-down
								.swiper-button-prev
									i.fa.fa-long-arrow-up
