extends ../base
block title
	| Index page
block main
	// Секция betatransfer-is
	section.betatransfer-is
		.container
			.betatransfer-is-wrap
				h1 Betatransfer это
				.betatransfer-is__items
					.betatransfer-is__item
						.betatransfer-is__item-wrap-img
							.betatransfer-is__item-img
								img(src=require("../../img/betatransfer-is__item-img.png"))
						.betatransfer-is__item-txt
							p Быстрая скорость обмена
					.betatransfer-is__item
						.betatransfer-is__item-wrap-img
							.betatransfer-is__item-img
								img(src=require("../../img/betatransfer-is__item-img2.png"))
						.betatransfer-is__item-txt
							p Большие объемы резервов
					.betatransfer-is__item
						.betatransfer-is__item-wrap-img
							.betatransfer-is__item-img
								img(src=require("../../img/betatransfer-is__item-img3.png"))
						.betatransfer-is__item-txt
							p Отзывчивая онлайн поддержка
	// Секция betatransfer основная
	section.betatransfer
		.container
			.row
				.col-12.col-xl-9
					main.main
						.give-and-receive
							.give-and-receive__give
								.give-and-receive__give-filter
									button.active Все
									button USD
									button RUB
									button BTC
									button DASH
									button ETH
									button LTC
								.give-and-receive__title
									span Вы отдаёте
								.give-and-receive__give-items
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-bitcoin.png"))
										.give-and-receive__item-txt
											p Bitcoin BTC
										.give-and-receive__item-quantity.
											1
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-advCash.png"))
										.give-and-receive__item-txt
											p AdvCash USD
										.give-and-receive__item-quantity.
											1
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-Ethereum.png"))
										.give-and-receive__item-txt
											p Ethereum ETH
										.give-and-receive__item-quantity.
											1
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-perfectmoney.png"))
										.give-and-receive__item-txt
											p Perfect Money USD
										.give-and-receive__item-quantity.
											1
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-WebMoney.png"))
										.give-and-receive__item-txt
											p Webmoney USD
										.give-and-receive__item-quantity.
											1
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-Litecoin.png"))
										.give-and-receive__item-txt
											p Litecoin LTC
										.give-and-receive__item-quantity.
											1
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-Dash.png"))
										.give-and-receive__item-txt
											p Dash DASH
										.give-and-receive__item-quantity.
											1
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-qiwi-rub.png"))
										.give-and-receive__item-txt
											p QIWI RUB
										.give-and-receive__item-quantity.
											100
							.give-and-receive__receive
								.give-and-receive__receive-filter
									button.active Все
									button USD
									button BTC
									button DASH
									button ETH
									button LTC
								.give-and-receive__title
									span ВЫ ПОЛУЧАЕТЕ
								.give-and-receive__receive-items
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-bitcoin.png"))
										.give-and-receive__item-txt
											p Bitcoin BTC
										.give-and-receive__item-quantity.
											263032.01
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-alfa.png"))
										.give-and-receive__item-txt
											p АльфаБанк RUB
										.give-and-receive__item-quantity.
											258563.34
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-sber.png"))
										.give-and-receive__item-txt
											p Сбербанк RUB
										.give-and-receive__item-quantity.
											258563.34
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-tinkof.png"))
										.give-and-receive__item-txt
											p ТинькоффБанк RUB
										.give-and-receive__item-quantity.
											258563.34
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-visa.png"))
										.give-and-receive__item-txt
											p Visa/MasterCard RUB
										.give-and-receive__item-quantity.
											3424234234242.35
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-swift.png"))
										.give-and-receive__item-txt
											p WIRE USD
										.give-and-receive__item-quantity.
											12342442.2344
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-BTB.png"))
										.give-and-receive__item-txt
											p ВТБ24 RUB
										.give-and-receive__item-quantity.
											1
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-perfectmoney.png"))
										.give-and-receive__item-txt
											p Perfect Money USD
										.give-and-receive__item-quantity.
											1
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-yandex.png"))
										.give-and-receive__item-txt
											p Яндекс.Деньги RUB
										.give-and-receive__item-quantity.
											1
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-WebMoney.png"))
										.give-and-receive__item-txt
											p Webmoney USD
										.give-and-receive__item-quantity.
											1
										.give-and-receive__item-divider
											.give-and-receive__item-divider-inner
									.give-and-receive__item
										.give-and-receive__item-img
											img(src=require("../../img/betatransfer-advCash.png"))
										.give-and-receive__item-txt
											p AdvCash USD
										.give-and-receive__item-quantity.
											100

						.reviews
							.title-h2
								h2 ОТЗЫВЫ
								.title-h2__divider
									.title-h2__divider-inner
							.reviews-items
								.reviews-item
									.reviews-item__message
										p
											| Благодарю за скорость! Все очень быстро.
									.reviews-item__author-and-time
										p Сергей,
											time
												| 10.10.2017, 14:20
								.reviews-item
									.reviews-item__message
										p
											| Менял $ на ВТС. По времени чуть более часа.
											| Это считаю довольно оперативно. Большое
											| спасибо. Всем рекомендую этот обменник.
									.reviews-item__author-and-time
										p Сергей,
											time
												| 10.10.2017, 14:20
							.reviews__button
								button.main_btn Все отзывы
						.news
							.title-h2
								h2 НОВОСТИ
								.title-h2__divider
									.title-h2__divider-inner
							.news-items
								.news-item
									.news-item__date
										time
											| 18.01.2017
									.news-item__message
										p
											| Сколько можно заработать в интерне-
											| те на обмене электронных валют?
										a(href="#") Читать дальше
											i.fa.fa-long-arrow-right
								.news-item
									.news-item__date
										time
											| 18.01.2017
									.news-item__message
										p
											| Обналичить QIWI? Это просто!
										a(href="#") Читать дальше
											i.fa.fa-long-arrow-right
							.news__button
								button.main_btn Все новости
				.col-12.col-xl-3
					aside.aside
						.currency-reserves
							.give-and-receive__title.aside-title
								span Резервы валюты
							.swiper-container.currency-reserves__slider
								.swiper-wrapper
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-WebMoney.png"))
											.currency-reserves__slider-item-txt
												p Webmoney USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-qiwi-rub.png"))
											.currency-reserves__slider-item-txt
												p QIWI RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-sber.png"))
											.currency-reserves__slider-item-txt
												p Сбербанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-alfa.png"))
											.currency-reserves__slider-item-txt
												p АльфаБанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-tinkof.png"))
											.currency-reserves__slider-item-txt
												p ТинькоффБанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-BTB.png"))
											.currency-reserves__slider-item-txt
												p ВТБ24 RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-visa.png"))
											.currency-reserves__slider-item-txt
												p Visa/MasterCard RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-yandex.png"))
											.currency-reserves__slider-item-txt
												p Яндекс.Деньги RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-advCash.png"))
											.currency-reserves__slider-item-txt
												p AdvCash USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-bitcoin.png"))
											.currency-reserves__slider-item-txt
												p Bitcoin BTC
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-perfectmoney.png"))
											.currency-reserves__slider-item-txt
												p Perfect Money USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-Ethereum.png"))
											.currency-reserves__slider-item-txt
												p Ethereum ETH
												p 101.7
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-privat.png"))
											.currency-reserves__slider-item-txt
												p Приват24 UAH
												p 101.7
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
							.currency-reserves__slider-navigation
								p Посмотреть ещё
								.swiper-button-next
									i.fa.fa-long-arrow-down
								.swiper-button-prev
									i.fa.fa-long-arrow-up
						.last-exchange
							.title-h2
								h2 ПОСЛЕДНИЙ ОБМЕН
								.title-h2__divider
									.title-h2__divider-inner
							.last-exchange__item
								.last-exchange__time
									time 11.10.2017, 10:35
								.last-exchange__inner
									.last-exchange__img
										img(src=require("../../img/betatransfer-WebMoney.png"))
									.last-exchange__amount
										p 128
										p USD
								.last-exchange__divider
									i.fa.fa-long-arrow-down
								.last-exchange__inner
									.last-exchange__img
										img(src=require("../../img/betatransfer-bitcoin.png"))
									.last-exchange__amount
										p 0.023296
										p BTC
	// Секция our-partners
	section.our-partners
		.container
			.our-partners__inner
				.title-h2
					h2 НАШИ ПАРТНЕРЫ
					.title-h2__divider
						.title-h2__divider-inner
			.swiper-container.our-partners__slider
				.swiper-wrapper
					.swiper-slide
						.our-partners__slider-item
							img(class="img-fluid" src=require("../../img/our-partners__slider-item-img.jpg"))
					.swiper-slide
						.our-partners__slider-item
							img(class="img-fluid" src=require("../../img/our-partners__slider-item-img.jpg"))
					.swiper-slide
						.our-partners__slider-item
							img(class="img-fluid" src=require("../../img/our-partners__slider-item-img.jpg"))
					.swiper-slide
						.our-partners__slider-item
							img(class="img-fluid" src=require("../../img/our-partners__slider-item-img.jpg"))
					.swiper-slide
						.our-partners__slider-item
							img(class="img-fluid" src=require("../../img/our-partners__slider-item-img.jpg"))
			.our-partners__slider-navigation
				.swiper-button-prev
					i.fa.fa-long-arrow-left
				.swiper-button-next
					i.fa.fa-long-arrow-right
	// Секция .profitable-and-fast
	section.profitable-and-fast
		.container
			.profitable-and-fast__inner
				.title-h2
					h2 BETATRANSFER.NET - ВЫГОДНЫЙ И БЫСТРЫЙ ОБМЕННИК КРИПТОВАЛЮТЫ
					.title-h2__divider
						.title-h2__divider-inner
				.profitable-and-fast__txt-wrap
					p
						| Большинство Интернет-юзеров уже давно привыкли осуществлять покупки в online-режиме. Это не удивительно: так удобнее, проще и
						| быстрее. Вместе с тем нужно отметить, что порою у покупателя отсутствуют финансовые средства на счету той платёжной системе, которой
						| пользуется человек или магазин, продающий нужный ему товар. В таком случае лучше всего обратиться за помощью в
						b  обменник
						|  электронных валют.
					p
						| Betatransfer предлагает своим клиентам
						b  обмен
						|  валют по самому выгодному курсу. Удовлетворение клиентов важнее всего для нашего
						| сервиса. А наши клиенты всегда довольны обменом за счёт небольшой комиссии и оперативности при проведении обменных операций.
						| В Betatransfer вы можете осуществлять финансовые переводы и обмены на таких платежных системах, как: Webmoney, Qiwi AdvCash, а также
						| криптовалюты
						b  Биткоин
						|  и
						b  Эфириум
						|  на банковские счета и карты Сбербанка,
						| Альфа-Банка, и Тинькофф.
					p
						| Плюсы пользования нашим сервисом очевидны. Мы предлагаем клиентам только самый оптимальный курс при обмене валют. Наша
						| главная задача состоит в том, чтобы создать такой сервис, который будет популярен и востребован на протяжении длительного периода
						| времени. Для того, чтобы эта цель была возможной, следует заработать репутацию самого выгодного, честного и оперативного обменника.
						| Вот почему наши курсы и комиссии такие низкие.
					p
						| Betatransfer работает с многими известными и востребованными валютами и системами Интернет-платежей. К примеру, если вы
						| нуждаетесь
						b  в обменнике Биткоин или Эфириум
						|  , мы всегда. готовы оказать вам услуги по конвертации криптовалюты.
					P
						| Мы не можем не похвастаться нашей визитной карточкой: небывалой оперативностью. Ваша заявка будет рассмотрена сразу же, как
						| только поступит, а деньги придут на ваш счет в течение получаса после оплаты. С целью повышения удобства пользования нашим сервисом
						| мы создали также калькулятор, позволяющий высчитать курсы обмены валют. Чтобы узнать, какую сумму вы получите после совершения
						| операции, нужно лишь ввести ту сумму, которую вы отдаёте. После этого вы сразу же получите ту цифру, которая поступит на ваш счёт после
						| обмена, а также размер комиссионного платежа за наши услуги.
				.profitable-and-fast__video
					iframe(width="770" height="434" src="https://www.youtube.com/embed/21zwCpahD5M" frameborder="0" allowfullscreen="")
