extends ../base
block title
	| Blog page
block header
	header(class="header" id="header")
		.container
			.header__top
				.header__top-description
					span BETATRANSFER.NET
					| – БЫСТРЫЙ И ЛЕГКИЙ ОБМЕН ЭЛЕКТРОННЫХ И КРИПТОВАЛЮТ
				.header__top-authorization
					.header__top-authorization-item
						i.fa.fa-user
						a(href="#") 1241423425
					.header__top-authorization-item
						i.fa.fa-reply
						a(href="#") Выйти
				.select
					.slct_arrow
						i.fa.fa-angle-down
					a(href="#" class="slct") RU
					ul.drop
						li EN
						li UA
						li RU
			.row
				.header__logo.col-lg-3
					a(href="/" class="logo" title="Логотип")
						img(src=require("../../img/logo.png"))
				nav.header__nav
					ul
						-var links = [{title:'Правила обмена', href:'#'},{title:'Партнерам', href:'#'},{title:'Информация', href:'#'},{title:'Контакты', href:'#'}];
						each i in links
							li
								a(href=i.href)= i.title
block main
	// Секция betatransfer основная
	section.betatransfer
		.container
			.all-title
				h1 ПАРТНЕРСКИЙ АККАУНТ
				.all-title__bread-crumbs
					ul
						li <<
							a(href="#")  Главная
			.row
				.col-12.col-xl-9
					main.main
						.your-operations__info
							.your-operations__info-item
								span ID:
								span.result 33
							.your-operations__info-item
								span Дата регистрации:
								span.result 13.11.2016
							.your-operations__info-item
								span E-mail:
								span.result 12345@ukr.net
							.your-operations__info-item
								span Ваш партнерский процент:
								span.result 0.2%
						.authorization__title
							span ВАШИ СЧЕТА
						.authorization__wrap
							.your-bills-item
								span.title Посетителей:
								span.your-account-number 117
							.your-bills-item
								span.title Количество рефералов:
								span.your-account-number 4
							.your-bills-item
								span.title Обменов:
								span.your-account-number 13
							.your-bills-item
								span.title Сумма обменов:
								span.your-account-number 33662.951158000003 USD
							.your-bills-item
								span.title CTR
								span.your-account-number 11,11%
							.your-bills-item
								span.title Заработано за все время:
								span.your-account-number 74.41 USD
							.your-bills-item
								span.title Ожидают выплаты:
								span.your-account-number 0 USD
							.your-bills-item
								span.title Выплачено:
								span.your-account-number 0 USD
							.your-bills-item
								span.title Текущий баланс:
								span.your-account-number 74.41 USD
							.your-bills-item
								span.title Доступно для выплаты:
								span.your-account-number 74.41 USD
						.promotional-materials
							.title-h2
								h2 РЕКЛАМНЫЕ МАТЕРИАЛЫ
								.title-h2__divider
									.title-h2__divider-inner
							.promotional-materials__txt
								p
									| Рекламный текст с ссылкой, который вы разместите в любом месте на Ваше усмотрение (на Вашем
									| сайте, в блогах, форумах, в различных сервисах вопросов и ответов, социальных сетях и в сервисах
									| закладок) будет вести пользователей на сайт, а Вы будете получать гарантированное вознаграждене
									| за переходы пользователей.
								p
									| Ниже представлены основные варианты рекламных материалов с Вашей партнерской ссылкой.
									| Вы можете использовать любые тексты для ссылки или воспользоваться нашими вариантами.
									| Для этого Вам нужно просто скопировать выбранный код к себе на сайт и начать получать доход.
							.affiliate-links
								.affiliate-links__item
									p
										| Партнерская ссылка :
									.affiliate-links__link
										span https://betatransfer.net/?rid=33
								.affiliate-links__item
									p
										| Партнерская ссылка в HTML-коде (для размещения на сайтах и блогах):
									.affiliate-links__link
										span &lt;a target=&quot;_blank&quot; href=&quot;https://betatransfer.net/?rid=33&quot;&gt;Обмен валют&lt;/a&gt;
								.affiliate-links__item
									p
										| Скрытая партнерская ссылка в HTML-коде (для размещения на сайтах и блогах):
									.affiliate-links__link
										span
											| &lt;a target=&quot;_blank&quot; href=&quot;https://betatransfer.net/&quot; onclick=&quot;this.href=https://betatransfer.net/?
											| rid=33&quot;&gt;Обмен валют&lt;/a&gt;
								.affiliate-links__item
									p
										| Партнерская ссылка в BBCode (для размещения на форумах):
									.affiliate-links__link
										span [url="https://betatransfer.net/?rid=33"]Обмен валют[/url]

				.col-12.col-xl-3
					aside.aside.all-page
						.aside-personal-account
							.give-and-receive__title.aside-title
								span Личный кабинет
							.aside-personal-account__wrap
								.aside-personal-account__your-discount
									i.fa.fa-tag
									span Ваша скидка
									.your-discount
										| 0.5%
								nav.aside-personal-account__nav
									ul
										-var links = [{title:'Личный кабинет', href:'#'},{title:'Настройка безопасности', href:'#'},{title:'Ваши счета', href:'#'},{title:'Внутренний счет', href:'#'},{title:'Ваши операции', href:'#'},{title:'XML-файл курсов', href:'#'},{title:'TXT-файл курсов', href:'#'},{title:'Партнерский аккаунт', href:'#', activeClass:'active'},{title:'Рекламные материалы', href:'#'},{title:'Партнерские переходы', href:'#'},{title:'Партнерские обмены', href:'#'},{title:'Рефералы', href:'#'},{title:'Вывод партнерских средств', href:'#'},{title:'Партнерский FAQ', href:'#'},{title:'Условия участия в партнерской программе', href:'#'}];
										each i in links
											li
												a(href=i.href class=i.activeClass)= i.title

								button(type="button" class="main_btn") Выйти
						.currency-reserves
							.give-and-receive__title.aside-title
								span Резервы валюты
							.swiper-container.currency-reserves__slider
								.swiper-wrapper
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-WebMoney.png"))
											.currency-reserves__slider-item-txt
												p Webmoney USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-qiwi-rub.png"))
											.currency-reserves__slider-item-txt
												p QIWI RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-sber.png"))
											.currency-reserves__slider-item-txt
												p Сбербанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-alfa.png"))
											.currency-reserves__slider-item-txt
												p АльфаБанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-tinkof.png"))
											.currency-reserves__slider-item-txt
												p ТинькоффБанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-BTB.png"))
											.currency-reserves__slider-item-txt
												p ВТБ24 RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-visa.png"))
											.currency-reserves__slider-item-txt
												p Visa/MasterCard RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-yandex.png"))
											.currency-reserves__slider-item-txt
												p Яндекс.Деньги RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-advCash.png"))
											.currency-reserves__slider-item-txt
												p AdvCash USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-bitcoin.png"))
											.currency-reserves__slider-item-txt
												p Bitcoin BTC
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-perfectmoney.png"))
											.currency-reserves__slider-item-txt
												p Perfect Money USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-Ethereum.png"))
											.currency-reserves__slider-item-txt
												p Ethereum ETH
												p 101.7
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-privat.png"))
											.currency-reserves__slider-item-txt
												p Приват24 UAH
												p 101.7
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
							.currency-reserves__slider-navigation
								p Посмотреть ещё
								.swiper-button-next
									i.fa.fa-long-arrow-down
								.swiper-button-prev
									i.fa.fa-long-arrow-up
