extends ../base
block title
	| Blog page
block header
	header(class="header" id="header")
		.container
			.header__top
				.header__top-description
					span BETATRANSFER.NET
					| – БЫСТРЫЙ И ЛЕГКИЙ ОБМЕН ЭЛЕКТРОННЫХ И КРИПТОВАЛЮТ
				.header__top-authorization
					.header__top-authorization-item
						i.fa.fa-user
						a(href="#") 1241423425
					.header__top-authorization-item
						i.fa.fa-reply
						a(href="#") Выйти
				.select
					.slct_arrow
						i.fa.fa-angle-down
					a(href="#" class="slct") RU
					ul.drop
						li EN
						li UA
						li RU
			.row
				.header__logo.col-lg-3
					a(href="/" class="logo" title="Логотип")
						img(src=require("../../img/logo.png"))
				nav.header__nav
					ul
						-var links = [{title:'Правила обмена', href:'#'},{title:'Партнерам', href:'#'},{title:'Информация', href:'#'},{title:'Контакты', href:'#'}];
						each i in links
							li
								a(href=i.href)= i.title
block main
	// Секция betatransfer основная
	section.betatransfer
		.container
			.all-title
				h1 ПАРТНЕРСКИЕ ОБМЕНЫ
				.all-title__bread-crumbs
					ul
						li <<
							a(href="#")  Главная
			.row
				.col-12.col-xl-9
					main.main
						div.info-block
							span.your-operations-table-info Листайте
								.fa.fa-long-arrow-right
						.your-operations__table-wrap
							table.your-operations-table
								tbody
									tr
										th.your-operations-table_data ДАТА
										th.your-operations-table_user ПОЛЬЗОВАТЕЛЬ
										th.your-operations-table_data ДАННЫЕ
										th.your-operations-table_in ВОЗНАГРАЖДЕНИЕ
									tr
										td
											| 02.04.2017,
											| 21:09
										td
											| desik2005
										td.your-operations-data
											span 1 USD
											i.fa.fa-caret-right
											span
												b 60240
												|  RUB
										td.your-operations-remuneration
											span
												b 60240
												|  RUB
									tr
										td
											| 02.04.2017,
											| 21:09
										td
											| desik2005
										td.your-operations-data
											span 1 USD
											i.fa.fa-caret-right
											span
												b 60240
												|  RUB
										td.your-operations-remuneration
											span
												b 60240
												|  RUB
									tr
										td
											| 02.04.2017,
											| 21:09
										td
											| desik2005
										td.your-operations-data
											span 1 USD
											i.fa.fa-caret-right
											span
												b 60240
												|  RUB
										td.your-operations-remuneration
											span
												b 60240
												|  RUB
									tr
										td
											| 02.04.2017,
											| 21:09
										td
											| desik2005
										td.your-operations-data
											span 1 USD
											i.fa.fa-caret-right
											span
												b 60240
												|  RUB
										td.your-operations-remuneration
											span
												b 60240
												|  RUB
				.col-12.col-xl-3
					aside.aside.all-page
						.aside-personal-account
							.give-and-receive__title.aside-title
								span Личный кабинет
							.aside-personal-account__wrap
								.aside-personal-account__your-discount
									i.fa.fa-tag
									span Ваша скидка
									.your-discount
										| 0.5%
								nav.aside-personal-account__nav
									ul
										-var links = [{title:'Личный кабинет', href:'#'},{title:'Настройка безопасности', href:'#'},{title:'Ваши счета', href:'#'},{title:'Внутренний счет', href:'#'},{title:'Ваши операции', href:'#'},{title:'XML-файл курсов', href:'#'},{title:'TXT-файл курсов', href:'#'},{title:'Партнерский аккаунт', href:'#'},{title:'Рекламные материалы', href:'#'},{title:'Партнерские переходы', href:'#'},{title:'Партнерские обмены', href:'#', activeClass:'active'},{title:'Рефералы', href:'#'},{title:'Вывод партнерских средств', href:'#'},{title:'Партнерский FAQ', href:'#'},{title:'Условия участия в партнерской программе', href:'#'}];
										each i in links
											li
												a(href=i.href class=i.activeClass)= i.title

								button(type="button" class="main_btn") Выйти
						.currency-reserves
							.give-and-receive__title.aside-title
								span Резервы валюты
							.swiper-container.currency-reserves__slider
								.swiper-wrapper
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-WebMoney.png"))
											.currency-reserves__slider-item-txt
												p Webmoney USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-qiwi-rub.png"))
											.currency-reserves__slider-item-txt
												p QIWI RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-sber.png"))
											.currency-reserves__slider-item-txt
												p Сбербанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-alfa.png"))
											.currency-reserves__slider-item-txt
												p АльфаБанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-tinkof.png"))
											.currency-reserves__slider-item-txt
												p ТинькоффБанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-BTB.png"))
											.currency-reserves__slider-item-txt
												p ВТБ24 RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-visa.png"))
											.currency-reserves__slider-item-txt
												p Visa/MasterCard RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-yandex.png"))
											.currency-reserves__slider-item-txt
												p Яндекс.Деньги RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-advCash.png"))
											.currency-reserves__slider-item-txt
												p AdvCash USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-bitcoin.png"))
											.currency-reserves__slider-item-txt
												p Bitcoin BTC
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-perfectmoney.png"))
											.currency-reserves__slider-item-txt
												p Perfect Money USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-Ethereum.png"))
											.currency-reserves__slider-item-txt
												p Ethereum ETH
												p 101.7
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-privat.png"))
											.currency-reserves__slider-item-txt
												p Приват24 UAH
												p 101.7
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
							.currency-reserves__slider-navigation
								p Посмотреть ещё
								.swiper-button-next
									i.fa.fa-long-arrow-down
								.swiper-button-prev
									i.fa.fa-long-arrow-up
