extends ../base
block title
	| registration page
block main
	// Секция betatransfer основная
	section.betatransfer
		.container
			.all-title
				h1 ОТЗЫВЫ
				.all-title__bread-crumbs
					ul
						li <<
							a(href="#")  Главная
			.row
				.col-12.col-xl-9
					main.main
						.reviews-block
							.reviews-block__items
								.reviews-block__item
									.reviews-block__item-txt
										p
											| Благодарю за скорость! Все очень быстро.
									.reviews-block__author-and-time
										p Сергей,
											time 10.10.2017, 14:20
								.reviews-block__item
									.reviews-block__item-txt
										p
											| Менял $ на ВТС. По времени чуть более часа. Это считаю довольно оперативно. Большое спасибо.
											| Всем рекомендую этот обменник.
									.reviews-block__author-and-time
										p Aleksandr,
											time 10.10.2017, 14:20
							.news__pagination
								ul.pagination
									li
										a(href="#" class="active") 1
									li
										a(href="#") 2
									li
										a(href="#") 3
									li
										span(class="ellipsis") ...
									li
										a(href="#") 20
									li
										a(href="#") 21
									li
										a(href="#")
											i.fa.fa-long-arrow-right
									li
										a(href="#") Последняя
						.registration__title
							span ОПУБЛИКОВАТЬ ОТЗЫВ
						.registration__wrap
							form
								.registration__item-input
									label(for="reviews-name")
										| Ваше имя
										span  *
										| :
									input(id="reviews-name" name="name" type="text")
								.registration__item-input
									label(for="reviews-mail")
										| Логин или е-mail
										span  *
										| :
									input(id="reviews-mail" name="name" type="text")
								.registration__item-input
									label(for="registration-password")
										| Ваш e-mail
										span  *
										| :
									input(id="registration-password" name="name" type="password")
								.registration__item-input
									label(for="reviews-textarea")
										| Текст отзыва
										span  *
										| :
									textarea(id="reviews-textarea" name="reviews-textarea")
								.registration__type-answer
									p Введите ответ
									.registration__type-answer-input
										span.task 4
										span +
										span.task 0
										span.
											=
										input(type="text")
									a(href="#" class="change-task") Изменить задачу
								.registration__submit-btn
									button(type="submit" class="main_btn") Оставить отзыв



				.col-12.col-xl-3
					aside.aside.all-page
						.aside-authorization
							.give-and-receive__title.aside-title
								span Авторизация
							.aside-authorization__form
								form
									.aside-authorization__input
										label(for="aside-login-email")
											| Логин или e-mail
											span  *
											| :
										.input_wrap
											i.fa.fa-check
											input(id="aside-login-email" name="email" type="text")
									.aside-authorization__input
										label(for="aside-authorization-password")
											| Пароль
											span  *
											| :
										.input_wrap
											i.fa.fa-check
											input(id="aside-authorization-password" name="name" type="password")
									.aside-authorization__links
										.aside-authorization__link
											i.fa.fa-lock
											a(href="#") Регистрация
										.aside-authorization__link
											i.fa.fa-unlock-alt
											a(href="#") Забыли пароль?
									.aside-authorization__button
										button(class="main_btn" type="submit") Войти
						.currency-reserves
							.give-and-receive__title.aside-title
								span Резервы валюты
							.swiper-container.currency-reserves__slider
								.swiper-wrapper
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-WebMoney.png"))
											.currency-reserves__slider-item-txt
												p Webmoney USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-qiwi-rub.png"))
											.currency-reserves__slider-item-txt
												p QIWI RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-sber.png"))
											.currency-reserves__slider-item-txt
												p Сбербанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-alfa.png"))
											.currency-reserves__slider-item-txt
												p АльфаБанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-tinkof.png"))
											.currency-reserves__slider-item-txt
												p ТинькоффБанк RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-BTB.png"))
											.currency-reserves__slider-item-txt
												p ВТБ24 RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-visa.png"))
											.currency-reserves__slider-item-txt
												p Visa/MasterCard RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-yandex.png"))
											.currency-reserves__slider-item-txt
												p Яндекс.Деньги RUB
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-advCash.png"))
											.currency-reserves__slider-item-txt
												p AdvCash USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-bitcoin.png"))
											.currency-reserves__slider-item-txt
												p Bitcoin BTC
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-perfectmoney.png"))
											.currency-reserves__slider-item-txt
												p Perfect Money USD
												p 1013.7713
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-Ethereum.png"))
											.currency-reserves__slider-item-txt
												p Ethereum ETH
												p 101.7
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
									.swiper-slide
										.currency-reserves__slider-item
											.currency-reserves__slider-item-img
												img(src=require("../../img/betatransfer-privat.png"))
											.currency-reserves__slider-item-txt
												p Приват24 UAH
												p 101.7
											.currency-reserves__slider-item-divider
												.currency-reserves__slider-item-divider-inner
							.currency-reserves__slider-navigation
								p Посмотреть ещё
								.swiper-button-next
									i.fa.fa-long-arrow-down
								.swiper-button-prev
									i.fa.fa-long-arrow-up
